a {
  color: #e15738;
  text-decoration: none;
}

  * {
    box-sizing: border-box;
  }
  
  ::selection {
    color: #f9f7f1;
    background:#e15738;
  }
  
  
  .block {
    display: block;
  }
  
  .main {
    display: flex;
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    min-height: 100vh; /* make content as tall as the viewport */
    width: 100%;
  }

  .main__header {
    font-family: termina, sans-serif;
  }
  
  .container {
  position: relative;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 10%;
  }


  
  @media screen and (min-width: 40rem) {
      .heading {
          font-size: 2rem;
          position: absolute;
          left: 0;
          top: 2rem;
          z-index: 10; /* to be on top of grid */
      }
  }

  mark {
    color: #000;
    background: none;
    line-height: 1.35;
    padding: .375rem;
  }
  
  
/* header*/
.headerparent {
  text-align: center;
  position: sticky;
}


.header {
  width: 100%;
}


.receipt {
  position: relative;
  z-index: 10;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 170px;
  width: 100px;
  z-index: 10;
}

@media only all and (max-width: 800px) {
  .issue{
      left: 80px
  }
  .subtitle {
    left: 80px;
  }
  .site__header{
    position: relative;
  }

}


  /*content*/

  body{
    font-family: acumin-pro, sans-serif;
    font-size: 14px;
    color: #e15738;
    background-color: #f9f7f1;
}
header{
  font-family: termina, sans-serif;
    font-weight: 900;
    font-size: 80px;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

}
@media only all and (max-width: 1200px) {
    .collumn{
        width: 31%;
    }
  }

.content {
  place-items: center;
  text-align: center;
  padding: 20px;
}

  
  /*ffoott */

  footer {
    text-align: center;
    padding: 5px;
    bottom: 0px;
    margin-top: 0px;
    margin: 30px 2%  2%;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .child {
    flex: 1 1 300px;
    text-align: center;
  }

  .child h2 {
    font-size: 1rem;
  }
  
  /*button*/
  :root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-secondary: #e15738;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .multi-button {
    display: flex;
    width: 100%;
  }
  
  .multi-button .button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid #e15738;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.0rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button .button + .button {
    border-left: var(--border-size) solid #e15738;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button .button:hover,
  .multi-button .button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button .button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover .button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button .button:active {
    transform: translateY(var(--border-size));
  }